<!DOCTYPE html>
<html ng-app="hello">

  <head>
    <link data-require="bootstrap-css@*" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-controller="maincontroller">
    <h1>Hello Plunker!</h1>
    <div>name:{{user.name}}</div>
    <form>
      <input type="search" placeholder="username" value="" ng-model="username" />
      <input type="submit" value="search" ng-click="search(username)" />
    </form>
    <div>
      <img ng-src="http://gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}" />
    </div>
    <br><br>
    order:
    <select ng-model="reposortorder">
      <option value="+name">name</option>
      <option value="-stargazers_count">starts</option>
      
    </select>
    <br><br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Repositary Name</th>
          <th>Stars</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="repo in repos | orderBy:reposortorder">
          <td>{{repo.name}}</td>
          <td>{{repo.stargazers_count | number}}</td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
